.WC-page-content {
  .notes {
    display: flex;
    align-items: center;
    gap: 20px;
    .note {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .color {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      &.summer {
        background-color: var(--summer);
      }
      &.winter {
        background-color: var(--winter);
      }
    }
  }
}
.wc-table-year {
  tr {
    .months-container {
      padding: 0 !important;
      // border-bottom: 1px solid var(--black02);
    }
    .months {
      .month {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.inactive {
          opacity: 0.3;
          background-color: var(--black03);
        }
      }
      p {
        font-size: 12px;
        font-weight: 500;
        width: 80%;
        padding: 5px;
        text-align: left;
      }
    }
  }
  .season {
    font-size: 14px;
    font-weight: 600;
    // border-bottom: 1px solid var(--black02);
    &-winter {
      background-color: var(--winter05);
    }
    &-summer {
      background-color: var(--summer05);
    }
    &.inactive {
      background-color: var(--black03) !important;
      opacity: 0.3;
    }
  }
  .quarter {
    // border-bottom: 1px solid var(--black02);
    &.inactive {
      background-color: var(--black05) !important;
      opacity: 0.3;
    }
    &.quarter-1 {
      background-color: var(--winter08) !important;
    }
    &.quarter-4 {
      background-color: var(--winter08) !important;
    }
    &.quarter-2 {
      background-color: var(--summer08) !important;
    }
    &.quarter-3 {
      background-color: var(--summer08) !important;
    }
  }
  .year {
    // border-bottom: 1px solid var(--black02);
    background-color: var(--year08) !important;
    p {
      transform: rotate(90deg);
      font-size: 20px;
      font-weight: 600;
      color: white;
    }
    &.inactive {
      background-color: var(--black02) !important;
    }
  }
  &:nth-child(odd) {
    background-color: var(--black005);
    .year {
      background-color: var(--year) !important;
    }
    .season {
      &-winter {
        background-color: var(--winter07);
      }
      &-summer {
        background-color: var(--summer07);
      }
    }

    .quarter-1 {
      background-color: var(--winter) !important;
    }
    .quarter-4 {
      background-color: var(--winter) !important;
    }
    .quarter-2 {
      background-color: var(--summer) !important;
    }
    .quarter-3 {
      background-color: var(--summer) !important;
    }
  }
}
