


registry=https://pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/registry/
always-auth=true
//registry.npmjs.org/:_authToken=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
//pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/registry/:username=pantheon-tech
//pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/registry/:_password="aXFrMnU1a3Vndmxhd3VjMjdwa2loZDduYXV5a3lxdTR1YTdpbXpqanVncTR4eWcyMmFyYQ=="
//pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/:username=pantheon-tech
//pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/:_password="aXFrMnU1a3Vndmxhd3VjMjdwa2loZDduYXV5a3lxdTR1YTdpbXpqanVncTR4eWcyMmFyYQ=="
//pkgs.dev.azure.com/pantheon-tech/_packaging/pantheon-tech/npm/:email=daniel@aotearoa.energy
email=daniel@aotearoa.energy