.table {
  .ant-picker {
    color: blue;
  }
  .pem-head {
    font-size: 12px;
  }
  .month {
    background-color: var(--black005);
  }
  .settle {
    background-color: white;
    color: rgb(226, 12, 12);
  }
  .font-large {
    font-size: 28px;
  }
  .opacity07 {
    opacity: 0.7;
  }
  .nodes {
    width: 70px;
  }
}
input {
  width: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--black01);
  text-align: right;
}
