.TippySlider {
  overflow: hidden;
  .child-container {
    background-color: var(--black05);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    animation: slideIn 0.3s ease-in-out;
    color: white;
    &:hover {
      background-color: var(--black02);
      color: var(--text);
    }
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
