.Home {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .Home-Graph {
    display: flex;
    align-items: flex-start;

    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
    padding: 5% 1%;
    margin: 0 auto;
    background-color: var(--black005);
  }
}
@media (max-width: 1300px) {
  .Home-Graph {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 50px;
  }
}
