.switch-button {
  width: 80px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  overflow: hidden;
  .side {
    height: 30px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    opacity: 0.5;
    color: white;
    &.width60 {
      width: 55px;
      font-weight: 700;
      opacity: 1;
    }
    &.width20 {
      width: 25px;
    }
  }
}
