.Switch2Options {
  min-width: 80px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  .Switch2Options-option {
    padding: 5px;
    min-width: 25px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 600;
    &.isActive {
      min-width: 55px;
      width: 60%;
      text-align: center;
      opacity: 1;
    }
  }
}
