.OPButton {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  transition: 2s all;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 5px 5px var(--black02);
  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 2px var(--black01);
    transform: scale(0.98);
  }
  &:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 2px var(--black01);
  }
}
.primary {
  background-color: var(--signature);
  color: white;
  padding: 5px 10px;
}
.secondary {
  background-color: rgb(223, 223, 223);
  color: var(--text);
  padding: 5px 10px;
  &:hover {
    background-color: rgb(217, 217, 217);
  }
}
