#AEDynamicTable {
  border-collapse: collapse;
  td {
    padding: 5px;
    min-width: 50px;
    position: relative;
  }

  td {
    font-weight: 500;
  }
  .AE-data---container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  thead {
    tr {
      background-color: var(--black005);
    }
    .isCategories {
      font-weight: 700;
      background-color: var(--black05);
      color: white;

      font-size: 12px;
      td {
        &.highlighted {
          background-color: var(--signature02) !important;
        }
        &:nth-child(even) {
          background-color: var(--black01);
          &.highlighted {
            background-color: var(--signature04) !important;
          }
        }
      }
    }
    td {
      text-align: center;
      font-weight: 700;
      height: 40px;
    }
  }

  tbody {
    td {
      font-size: 12px;
      &.highlighted {
        background-color: var(--signature01) !important;
      }
      &:nth-child(even) {
        background-color: var(--black005);
        &.highlighted {
          background-color: var(--signature02) !important;
        }
      }
    }
    tr {
      &:nth-child(even) {
        background-color: var(--black005);
      }
    }
  }
}
